@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700&display=swap");

:root {
  --primary-color: #1f1825;
  --font-color: #fff;
  --border-color: #858585;
  --span-color: #cc8b86;
  --projectLink-span-color: #392c43;
  --link-color: #fff;
  --link-hover-color: #dbadaa;
  --grid-item-background-color: #fff;
  --primary-font: "Tajawal", sans-serif;
  --secondary-font: "Cutive Mono", monospace;
  --nav-font: "Cutive Mono", monospace;
  --accordion-color: #1f1825;
  --work-header-color: #222a34;
  --box-shadow: #85625fc0;
  --resume-link-color: #dbadaa;
  --about-button: #d49c98;
  --footer-color: #e3bfbc;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
  color: var(--font-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  animation: 2s fadeInOpacity linear;
}

h1 {
  font-size: 1.3rem;
  font-family: var(--secondary-font);
}

h2 {
  font-size: 1.2rem;
  font-family: var(--secondary-font);
}

h3 {
  font-size: 1.1rem;
  font-family: var(--secondary-font);
}

span {
  text-decoration: none;
  color: var(--span-color);
  font-family: var(--secondary-font);
}

/* Link Styles */
a {
  font-size: 1rem;
  cursor: pointer;
}

a:focus,
a:hover {
  color: var(--link-hover-color);
  cursor: pointer;
  text-decoration: none;
  animation: 1s shakeFx linear infinite;
}

/* Header Styles */
header {
  margin: 0 auto;
  margin-top: 1rem;
  animation: 2s fadeInOpacity linear;
}

#navbarContent {
  position: relative;
}

.navbar {
  padding: 0;
}

div#navbarContent.navbar-collapse.collapse.show,
div#navbarContent.navbar-collapse.collapse {
  text-align: left;
  color: var(--span-color);
}

.navbar-nav {
  position: absolute;
  right: 0;
  font-family: var(--nav-font);
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--span-color);
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--link-hover-color);
}

/* Footer Styles */
footer {
  text-align: center;
  clear: both;
  margin: 0 auto;
  animation: 2s fadeInOpacity linear;
}

.social-media-icon {
  padding: 15px;
  margin-bottom: 20px;
}

.footer-content img.footer-logo {
  width: 95px;
}

.footer-year {
  color: var(--footer-color);
  font-family: var(--secondary-font);
  font-size: 0.8rem;
  display: inline-block;
}

.footer-credit {
  margin: 10px auto;
  margin-bottom: 0;
}

#tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: transparent;
  color: var(--font-color);
  text-align: left;
  position: fixed;
  bottom: 95px;
  z-index: 1;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Homepage Styles */
.profile-portrait {
  float: left;
  width: 250px;
  margin-right: 30px;
  border-radius: 40px 0;
  border: 1px solid var(--span-color);
  animation: 2s fadeInOpacity linear;
  /* box-shadow: 1px 2px 20px var(--box-shadow); */
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 200px;
}

.profile h1,
.profile p {
  padding-top: 10px;
}

.profile h1 {
  padding-top: 50px;
  animation: 2s fadeInOpacity linear;
}

.animation {
  width: 52%;
  animation: typingFx 3s steps(25), blinkCursor 0.4s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1px solid var(--span-color);
}

.mobile-text {
  display: none;
}

/* About, Work, Contact Styles */
.about-header,
.work-header,
.contact-header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
  /*Fade in slower than the rest*/
  animation: 3s fadeInOpacity ease-in-out;
  text-transform: lowercase;
  letter-spacing: 9px;
}

/* About Page */
#accordionParent {
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
  animation: 2s fadeInOpacity linear;
}

#accordionParent div.card {
  background-color: transparent;
  border-color: var(--border-color);
}

.card-body {
  background-color: var(--accordion-color);
  color: var(--font-color);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.7rem;
  padding: 30px;
  margin: 0 auto;
}

#about-list {
  column-count: 3;
  column-gap: 10px;
  column-rule: 0.2px solid var(--span-color);
  text-align: center;
}

.card-body__list {
  list-style: none;
  padding: 0;
}

.text-left {
  text-align: center !important;
}

h2.mb-0 .btn {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

h2.mb-0 .btn:hover,
h2.mb-0 .btn:focus {
  color: var(--about-button);
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s linear;
}

.about-contact-link {
  color: var(--resume-link-color);
  font-weight: 700;
  font-size: 1.2rem;
}

.resume-link {
  display: block;
  margin: 100px auto;
  animation: 2s fadeInOpacity linear;
  text-align: center;
  color: var(--resume-link-color);
  font-weight: 500;
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.resume-link:hover,
.resume-link:focus {
  opacity: 0.7;
  transition: 0.2s linear;
  animation: shakeFx 1s linear infinite;
}

/* Work Page */
.caseStudyContainer {
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 5px;
  animation: 2s fadeInOpacity linear;
}

div.card-body.caseStudy {
  padding: 10px;
  box-shadow: 5px 10px 18px var(--primary-color);
  width: 95%;
  background-color: var(--font-color);
}

div.card-header.featuredHeader {
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--primary-color);
  letter-spacing: 15px;
  text-transform: uppercase;
}

h2.card-title.featuredTitle {
  margin: 0 auto;
  font-weight: 700;
  color: var(--primary-color);
}

p.card-text.featuredText {
  width: 95%;
  margin: 20px auto;
  font-weight: 400;
  font-size: 1rem;
  color: var(--primary-color);
}

.responsive {
  margin: 10px auto;
  max-width: 100%;
  height: auto;
  animation: 2s fadeInOpacity linear;
}

img#chat-app-img.responsive {
  text-align: center;
  display: block;
}

.card-footer a {
  color: var(--projectLink-span-color);
  font-weight: 700;
}

.card-footer.btn {
  margin-top: 15px;
  padding-top: 15px;
}

ul.work-list {
  list-style: none;
  color: var(--primary-color);
  padding-left: 0;
  font-weight: 300;
  font-size: 1rem;
}

.work-grid__item h2 {
  margin-bottom: 20px;
  color: var(--work-header-color);
  font-weight: 700;
}

.work-grid__item a {
  font-size: 0.9rem;
  color: var(--projectLink-span-color);
  font-weight: 700;
}

.work-grid__item p {
  font-weight: 400;
  font-size: 1rem;
  color: var(--primary-color);
}

.work-grid__item a:hover {
  cursor: pointer;
}

@supports (display: grid) {
  .work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
    margin: 0 auto;
    margin-bottom: 250px;
    width: 100%;
    animation: 2s fadeInOpacity linear;
  }

  .work-grid__item {
    padding: 30px;
    line-height: 1.7rem;
    background-color: var(--grid-item-background-color);
    width: auto;
  }
}

/* Contact Page */
.typeform-widget {
  margin: 70px auto;
  animation: 2s fadeInOpacity linear;
}

/* Case Study Page */
#case-header {
  margin-bottom: 20px;
  background-color: rgb(172, 95, 93, 0.4);
  padding: 15px;
  font-weight: 700;
  animation: 2s fadeInOpacity linear;
}

#case-study {
  animation: 2s fadeInOpacity linear;
  margin-bottom: 150px;
}

#case-study p {
  line-height: 1.5rem;
  margin-bottom: 30px;
  animation: 2s fadeInOpacity linear;
}

#case-study-list {
  list-style: none;
  line-height: 1.5rem;
  padding-inline-start: 0;
  animation: 2s fadeInOpacity linear;
}

#case-study-list li {
  margin-bottom: 15px;
}

#case-study-subheader {
  /* background-color: rgb(241, 229, 228, 0.3); */
  font-family: var(--primary-font);
  text-decoration: underline;
  animation: 2s fadeInOpacity linear;
}

.case-link {
  color: var(--resume-link-color);
}

.case-break {
  margin: 50px 0;
}

.read-time {
  display: block;
  text-align: center;
}

/* Animations */
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shakeFx {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes typingFx {
  from {
    width: 0;
  }
  /* to {
    width: 50%;
  } */
}

@keyframes blinkCursor {
  50% {
    border-color: transparent;
  }
}

/* Media Queries */

/* Allows the collapsed menu to push the content down*/
@media screen and (max-width: 1024px) {
  .navbar-nav {
    position: relative;
    text-align: center;
  }
}

@media all and (max-width: 760px) {
  .navbar-toggler {
    text-align: center;
  }

  #tooltip:hover .tooltiptext {
    visibility: hidden;
  }

  .about-header,
  .work-header {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .contact-header {
    margin-bottom: 0;
  }

  /* homepage styles */
  a.navbar-brand img {
    width: 160px;
  }
  .profile-portrait {
    float: none;
    margin: 10px auto;
    margin-top: 20px;
    width: 165px;
  }

  .profile {
    text-align: center;
    width: 95%;
    margin-top: 80px;
    height: 65vh;
  }

  .profile h1,
  .profile p {
    padding-top: 10px;
    line-height: 1.7rem;
  }

  .animation {
    display: none;
  }

  .mobile-text {
    display: inline-block;
    animation: 3s fadeInOpacity linear;
  }

  /* about page styles */
  #accordionParent {
    width: 90%;
    margin: 0 auto;
  }

  .card-body {
    padding: 20px;
    font-size: 0.9rem;
    text-align: center;
  }

  h2.mb-0 .btn {
    font-size: 1rem;
  }

  .resume-link {
    margin: 90px auto;
    margin-bottom: 120px;
  }

  .about-contact-link {
    font-size: 0.9rem;
  }

  #about-list {
    column-count: 1;
    column-gap: 0;
    text-align: center;
  }

  /* work page styles */
  p.card-text.featuredText {
    width: 100%;
    margin: 10px auto;
  }

  .work-grid {
    grid-template-columns: 1fr;
    width: 100%;
    margin-bottom: 90px;
  }

  .work-grid__item {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 15px;
  }

  .work-grid__item p,
  ul.work-list,
  p.card-text.featuredText {
    font-size: 0.95rem;
  }

  p.card-text.featuredText {
    width: 93%;
  }

  .card-footer a,
  .work-grid__item a {
    font-size: 0.8rem;
  }

  /* contact page styles */
  .typeform-widget {
    margin-top: 0;
    margin-bottom: 90px;
    padding: 0;
  }

  /* case-study */

  #case-header {
    font-size: 1.1rem;
    text-align: center;
  }

  #case-study p,
  #case-study-list li {
    font-size: 0.9rem;
    text-align: center;
  }

  #case-study-subheader {
    font-size: 1rem;
    text-align: center;
  }

  .case-break {
    margin: 30px 0;
  }
}

/* 768px - 1024px */
@media all and (min-width: 768px) and (max-width: 1024px) {
  a.navbar-brand img {
    width: 165px;
  }

  /* homepage styles */
  .profile {
    margin: 0 auto;
    margin-top: 150px;
    padding: 10px 50px;
  }

  .profile-portrait {
    margin-right: 30px;
    width: 180px;
  }

  .profile h1 {
    padding-top: 35px;
  }

  .profile p {
    padding-top: 10px;
  }

  .animation {
    display: none;
  }

  .mobile-text {
    display: inline-block;
    animation: 2s fadeInOpacity linear;
  }

  /* about page styles */
  #accordionParent {
    width: 60%;
    margin: 50px auto;
  }

  h2.mb-0 .btn {
    font-size: 1rem;
  }

  #about-list {
    column-count: 2;
    column-gap: 80px;
    text-align: center;
  }

  .card-body {
    padding: 25px;
    font-size: 0.9rem;
  }

  .about-contact-link {
    font-size: 0.9rem;
  }

  /* work page styles */
  .card-footer a {
    font-size: 0.9rem;
  }
  .work-grid {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 120px;
  }

  .work-grid__item {
    width: 100%;
    padding: 20px;
    font-size: 1rem;
    margin: 0 auto;
  }

  .work-grid__item h2 {
    line-height: 1.7rem;
    margin-bottom: 30px;
  }
}
