@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

:root {
  --primary-color: #1f1825;
  --font-color: #fff;
  --span-color: #cc8b86;
  --projectLink-span-color: #465336;
  --link-color: #fff;
  --link-hover-color: #e7c8c5;
  --grid-item-background-color: #fff;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Cutive Mono", monospace;
  --nav-font: "Cutive Mono", monospace;
  --accordion-color: #181825;
  --work-header-color: #252518;
  --box-shadow: #85625fc0;
  --resume-link-color: #e7c8c5;
}
/* #ebad99
cc8b86
d4f2db
D8F8B4
#181825 default dark blue color*/

body {
  background-color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: var(--font-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.3rem;
  font-family: var(--secondary-font);
}

h2 {
  font-size: 1.2rem;
  font-family: var(--secondary-font);
}

h3 {
  font-size: 1.1rem;
  font-family: var(--secondary-font);
}

span {
  text-decoration: none;
  color: var(--span-color);
  font-family: var(--secondary-font);
}

/* Link Styles */
a {
  font-size: 1rem;
  cursor: pointer;
}

a:focus,
a:hover {
  color: var(--link-hover-color);
  cursor: pointer;
  text-decoration: none;
  animation: 1s shakeFx linear infinite;
}

/* Header Styles */
header {
  margin: 0 auto;
  margin-top: 1rem;
  animation: 3s fadeInOpacity linear;
}

#navbarContent {
  position: relative;
}

.navbar {
  padding: 0;
}

div#navbarContent.navbar-collapse.collapse.show,
div#navbarContent.navbar-collapse.collapse {
  text-align: left;
  color: var(--span-color);
}

.navbar-nav {
  position: absolute;
  right: 0;
  font-family: var(--nav-font);
}

.navbar-light .navbar-toggler {
  border-color: var(--span-color);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--span-color);
  font-size: 1.2rem;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--link-hover-color);
}

/* Footer Styles */
footer {
  text-align: center;
  clear: both;
  margin: 0 auto;
  margin-bottom: 10px;
  color: var(--font-color);
  animation: 2s fadeInOpacity linear;
}

.social-media-icon {
  padding: 15px;
  margin-bottom: 20px;
}

.footer-content img.footer-logo {
  width: 90px;
}

.footer-year {
  color: var(--span-color);
  font-family: var(--secondary-font);
  font-size: 0.9rem;
  display: inline-block;
}

.footer-credit {
  margin: 10px auto;
  margin-bottom: 0;
}

#hover-words {
  display: none;
  font-size: 0.8rem;
}

.social-media-icon:hover #hover-words {
  display: inline-block;
  position: absolute;
  bottom: 95px;
}

/* Homepage Styles */
.profile-portrait {
  float: left;
  width: 280px;
  margin-right: 30px;
  border-radius: 40px 0;
  border: 1px dotted var(--span-color);
  animation: 2s fadeInOpacity linear;
  box-shadow: 1px 1px 50px var(--box-shadow);
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 200px;
}

.profile h1,
.profile p {
  padding-top: 10px;
}

.profile h1 {
  padding-top: 60px;
  animation: 2s fadeInOpacity linear;
}

.animation {
  width: 52%;
  animation: typingFx 2s steps(23), blinkCursor 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2px solid var(--span-color);
}

.mobile-text {
  display: none;
}

/* About, Work, Contact Styles */
.about-header,
.work-header,
.contact-header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
  animation: 4s fadeInOpacity ease-in-out;
  text-transform: lowercase;
  letter-spacing: 8px;
}

/* Work Page */
.caseStudyContainer {
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 5px;
  animation: 3s fadeInOpacity linear;
}

div.card-body.caseStudy {
  padding: 10px;
  box-shadow: 5px 10px 18px var(--grid-item-background-color);
  width: 95%;
  background-color: #fff;
}

div.card-header.featuredHeader {
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--primary-color);
  letter-spacing: 10px;
  text-transform: uppercase;
}

h2.card-title.featuredTitle {
  margin: 0 auto;
  color: var(--primary-color);
}

p.card-text.featuredText {
  width: 100%;
  margin: 30px auto;
  font-weight: 300;
  color: var(--primary-color);
}

.responsive {
  margin: 10px auto;
  max-width: 100%;
  height: auto;
}

.card-footer a {
  color: var(--projectLink-span-color);
  font-weight: 500;
}

.card-footer.btn {
  margin-top: 20px;
}

.work-grid__item h2 {
  margin-bottom: 20px;
  color: var(--work-header-color);
}

.work-grid__item a {
  font-size: 0.9rem;
  color: var(--projectLink-span-color);
  font-weight: 500;
}

.work-grid__item p {
  font-weight: 300;
  color: var(--primary-color);
}

.work-grid__item a:hover {
  cursor: pointer;
}

@supports (display: grid) {
  .work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    margin: 0 auto;
    margin-bottom: 200px;
    width: 100%;
    animation: 3s fadeInOpacity linear;
  }

  .work-grid__item {
    padding: 30px;
    line-height: 2rem;
    background-color: var(--grid-item-background-color);
    width: auto;
  }
}

/* About Page */
#accordionParent {
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
  animation: 3s fadeInOpacity linear;
}

.card-body {
  background-color: var(--accordion-color);
  color: var(--font-color);
  line-height: 2rem;
  padding: 30px;
  margin: 0 auto;
}

#about-list {
  column-count: 3;
  column-gap: 80px;
  /* column-rule: 0.2px solid var(--span-color); */
  text-align: center;
}

.card-body__list {
  list-style: none;
  padding: 0;
}

h2.mb-0 .btn {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 300;
  font-size: 1.1rem;
}

h2.mb-0 .btn:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s linear;
}

.resume-link {
  display: block;
  margin: 100px auto;
  animation: 3s fadeInOpacity linear;
  text-align: center;
  color: var(--resume-link-color);
  font-weight: 500;
  font-family: var(--secondary-font);
}

.resume-link:hover,
.resume-link:focus {
  opacity: 0.5;
  transition: 0.2s linear;
  animation: shakeFx 1s linear infinite;
}

/* Contact Page */
.typeform-widget {
  margin: 70px auto;
  animation: 3s fadeInOpacity linear;
}

/* Animations */
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shakeFx {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes typingFx {
  from {
    width: 0;
  }
  /* to {
    width: 50%;
  } */
}

@keyframes blinkCursor {
  50% {
    border-color: transparent;
  }
}

/* Media Queries */

/* Allows the collapsed menu to push the content down*/
@media screen and (max-width: 1024px) {
  .navbar-nav {
    position: relative;
    text-align: center;
  }
}

@media all and (max-width: 760px) {
  .navbar-toggler {
    font-size: 1rem;
    text-align: center;
  }

  .about-header,
  .work-header {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .contact-header {
    margin-bottom: 0;
  }

  /* homepage styles */
  .profile-portrait {
    float: none;
    margin: 10px auto;
    margin-top: 20px;
    width: 165px;
  }

  .profile {
    text-align: center;
    width: 90%;
    margin-top: 50px;
  }

  .profile h1,
  .profile p {
    padding-top: 10px;
    line-height: 1.7rem;
  }

  .animation {
    display: none;
  }

  .mobile-text {
    display: inline-block;
    animation: 3s fadeInOpacity linear;
  }

  /* about page styles */
  #accordionParent {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .card-body {
    padding: 25px;
    font-size: 0.9rem;
  }

  .resume-link {
    margin: 70px auto;
  }

  #about-list {
    column-count: 1;
    column-gap: 0;
    text-align: left;
  }

  /* work page styles */
  p.card-text.featuredText {
    width: 100%;
    margin: 10px auto;
  }

  .work-grid {
    grid-template-columns: 1fr;
    width: 100%;
    margin-bottom: 90px;
  }

  .work-grid__item {
    width: 100%;
    margin: 0 auto;
  }

  /* contact page styles */
  .typeform-widget {
    margin-top: 0;
    margin-bottom: 90px;
    padding: 0;
  }
}

/* 768px - 1024px */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .navbar-nav {
    text-align: center;
  }

  /* homepage styles */
  .profile {
    margin: 0 auto;
    margin-top: 150px;
    padding: 10px 50px;
  }

  .profile-portrait {
    margin-right: 30px;
    width: 180px;
  }

  .profile h1 {
    padding-top: 40px;
  }

  .profile p {
    padding-top: 10px;
  }

  .animation {
    display: none;
  }

  .mobile-text {
    display: inline-block;
    animation: 3s fadeInOpacity linear;
  }

  /* about page styles */
  #accordionParent {
    width: 60%;
    margin: 50px auto;
  }

  #about-list {
    column-count: 2;
    column-gap: 80px;
    /* column-rule: 0.2px solid var(--span-color); */
    text-align: center;
  }

  .card-body {
    padding: 25px;
    font-size: 0.9rem;
  }

  /* work page styles */
  .work-grid {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 120px;
  }

  .work-grid__item {
    width: 100%;
    padding: 20px;
    font-size: 1rem;
    margin: 0 auto;
  }

  .work-grid__item h2 {
    line-height: 2rem;
    margin-bottom: 30px;
  }
}
