/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5em;
  color: #1e1d27;
}

h1 {
  font-size: 30px;
  font-family: "Lobster", cursive;
}

h2 {
  font-size: 24px;
  font-family: "Lobster", cursive;
}

h3 {
  font-size: 18px;
  font-family: "Lobster", cursive;
}

span {
  font-weight: 700;
  color: #222627;
}

/* Links, Button, and svg Styles */
a {
  color: #2e5152;
  text-decoration: none;
  font-size: 20px;
}

a:visited {
  /* visited link */
  color: #294849;
}

a:focus {
  color: #254041;
  -webkit-text-decoration: underline #254041 double;
  text-decoration: underline #254041 double;
}

a:hover {
  color: #254041;
  -webkit-text-decoration: underline #254041 double;
  text-decoration: underline #254041 double;
}

a:active {
  /* selected link */
  color: #83abac;
}

.navigation-list__item--active {
  -webkit-text-decoration: underline #b0c9ca double;
  text-decoration: underline #b0c9ca double;
}

.svg-link {
  font-size: 0.7em;
  padding: 0;
  margin: 0 auto;
}

svg {
  margin: 60px auto;
}

.button {
  border: none;
  font-family: inherit;
  background-color: #056273;
  color: #eff4f4;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(224, 224, 235, 0.5);
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

button {
  border: none;
  font-family: inherit;
  background-color: #056273;
  color: #eff4f4;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(224, 224, 235, 0.5);
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.button:visited {
  color: #eff4f4;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #eff4f4;
}

button:focus {
  cursor: pointer;
  opacity: 0.8;
  color: #eff4f4;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #eff4f4;
}

.button:focus {
  cursor: pointer;
  opacity: 0.8;
  color: #eff4f4;
}

.button:hover,
.button:focus {
  text-decoration: none;
}

/* Header Styles */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  padding-top: 20px;
  margin: 0 auto;
  border-bottom: 2px dotted #fff;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 250px;
  flex: 0 1 250px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
  padding-right: 20px;
  padding-left: 20px;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* Footer Styles */
.page-footer {
  clear: both;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}
img.footer-logo {
  width: 100px;
  margin: 0 auto;
}
footer p {
  font-size: 0.8em;
  margin: 0 auto;
}

/* Homepage Styles */
.profile-portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 100px;
}

/* About, Work, Contact Styles */
.about-page-content,
.table-content {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.about-bio-container {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.about-button-container {
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}

.work-header-text,
.contact-header-text {
  text-align: center;
}

.work-header-text::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 97%;
  padding-top: 20px;
  border-bottom: 1px solid #728182;
}
.contact-header-text::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 27%;
  padding-top: 20px;
  border-bottom: 1px solid #728182;
}

.contact-grid-item,
.about-page-grid-item {
  display: inline-block;
  width: 50%;
  padding: 0;
  margin: 0 auto;
}
.grid,
.contact-grid,
.about-page-grid {
  margin: 0 auto;
  padding: 0 10px;
}

.grid__item {
  display: inline-block;
  width: 33%;
  padding: 0 10px;
}

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0 auto;
  }
  .grid__item {
    background-color: #dee9e9;
    width: auto;
    height: auto;
    margin: 0;
  }
  .contact-grid-item {
    background-color: #dee9e9;
    width: auto;
    height: auto;
    margin: 0;
  }
  .about-page-grid-item {
    background-color: #dee9e9;
    width: auto;
    height: auto;
    margin: 0;
  }
  .contact-grid,
  .about-page-grid {
    margin-bottom: 60px;
  }
  .contact-grid-item {
    padding-bottom: 25px;
    text-align: center;
  }
  .about-page-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 40px;
    margin: 0 auto;
    margin-top: 60px;
    width: 50%;
  }
  .about-page-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .contact-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    margin: 0 auto;
    margin-top: 10px;
    width: 30%;
  }
  .contact-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}

/* CSS Animation Styles */
.first-cloud,
.third-cloud {
  -webkit-animation: 5s cloud-move infinite alternate linear;
  animation: 5s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(400px, 0);
    transform: translate(400px, 0);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(400px, 0);
    transform: translate(400px, 0);
  }
}

.second-cloud,
.fifth-cloud {
  animation: 6s cloud-move-reverse infinite alternate-reverse linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(400px, 0);
    transform: translate(400px, 0);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(400px, 0);
    transform: translate(400px, 0);
  }
}

.building-1 {
  -webkit-animation: 5s building-change-1 infinite linear;
  animation: 5s building-change-1 infinite linear;
}

@-webkit-keyframes building-change-1 {
  0% {
    fill: #60af94;
  }
  50% {
    fill: #4d997e;
  }
  80% {
    fill: #aad4c6;
  }
  100% {
    fill: #60af94;
  }
}

@keyframes building-change-1 {
  0% {
    fill: #60af94;
  }
  50% {
    fill: #4d997e;
  }
  80% {
    fill: #aad4c6;
  }
  100% {
    fill: #60af94;
  }
}

.building-2 {
  -webkit-animation: 4s building-change-2 infinite linear;
  animation: 4s building-change-2 infinite linear;
}

@-webkit-keyframes building-change-2 {
  0% {
    fill: #e3643f;
  }
  50% {
    fill: #c9451d;
  }
  90% {
    fill: #ec9479;
  }
  100% {
    fill: #e3643f;
  }
}

@keyframes building-change-2 {
  0% {
    fill: #e3643f;
  }
  50% {
    fill: #c9451d;
  }
  90% {
    fill: #ec9479;
  }
  100% {
    fill: #e3643f;
  }
}

.first-tree,
.second-tree {
  -webkit-animation: 5s change-tree-color infinite alternate linear;
  animation: 5s change-tree-color infinite alternate linear;
}

@-webkit-keyframes change-tree-color {
  0% {
    fill: #598830;
  }
  50% {
    fill: #bddea1;
  }
  90% {
    fill: #6faa3c;
  }
  100% {
    fill: #598830;
  }
}

@keyframes change-tree-color {
  0% {
    fill: #598830;
  }
  50% {
    fill: #bddea1;
  }
  90% {
    fill: #6faa3c;
  }
  100% {
    fill: #598830;
  }
}

.road {
  -webkit-animation: 5s change-path-color infinite alternate linear;
  animation: 5s change-path-color infinite alternate linear;
}

@-webkit-keyframes change-path-color {
  0% {
    fill: #293d56;
  }
  50% {
    fill: #6488b4;
  }
  90% {
    fill: #4b6f9b;
  }
  100% {
    fill: #293d56;
  }
}

@keyframes change-path-color {
  0% {
    fill: #293d56;
  }
  50% {
    fill: #6488b4;
  }
  90% {
    fill: #4b6f9b;
  }
  100% {
    fill: #293d56;
  }
}

.window {
  -webkit-animation: 5s change-window-color infinite linear;
  animation: 5s change-window-color infinite linear;
}

@-webkit-keyframes change-window-color {
  0% {
    fill: #fff;
  }
  50% {
    fill: #e6e6e6;
  }
  90% {
    fill: #999999;
  }
  100% {
    fill: #fff;
  }
}

@keyframes change-window-color {
  0% {
    fill: #fff;
  }
  50% {
    fill: #e6e6e6;
  }
  90% {
    fill: #999999;
  }
  100% {
    fill: #fff;
  }
}

/* Media Queries */
@media all and (min-width: 768px) {
  .about-footer,
  .contact-footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .contact-grid {
    margin-bottom: 80px;
  }
}
@media all and (max-width: 768px) {
  .grid,
  .contact-grid,
  .about-page-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
  .page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

@media all and (max-width: 1024px) {
  .grid,
  .contact-grid,
  .about-page-grid {
    grid-gap: 10px;
    margin-bottom: 80px;
  }
  .contact-grid,
  .about-page-grid {
    width: 90%;
  }
  .grid__item,
  .contact-grid-item,
  .about-page-grid-item {
    grid-column: auto/ auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 1.9em;
  }
  h2 {
    font-size: 1.5em;
  }
  .profile {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    margin-bottom: 100px;
  }
  .profile h1 {
    padding-top: 60px;
    margin: 0 auto;
  }
  .profile-portrait {
    float: none;
    margin: 0 auto;
  }

  .page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px #728182 solid;
  }

  .page-header__item:first-child {
    display: block;
    height: auto;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .page-header__item:last-child {
    padding-bottom: 30px;
  }
  .navigation-list li {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  .navigation-list a {
    font-size: 1.8em;
    text-decoration: none;
  }

  .about-bio-container {
    width: 90%;
    margin: 0 auto;
  }
  .about-page-content p {
    font-size: 1.5em;
  }
  svg {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  .contact-header-text::after,
  .work-header-text::after,
  .about-header-text::after {
    width: 98%;
  }
  .contact-grid {
    margin-bottom: 100px;
  }
  .page-footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }
}
