@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

:root {
  --primary-color: #fff;
  --font-color: #000;
  --span-color: #0e3c43;
  --projectLink-span-color: #94b4bb;
  --link-color: #fff;
  --link-hover-color: #ddf8f0;
  --grid-item-background-color: #181825;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "M PLUS 1p", sans-serif;
  --nav-font: "Raleway Dots", cursive;
  --accordion-color: #101018;
  --work-header-color: #f1f6f9;
}

body {
  background-color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: var(--font-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.3rem;
  font-family: var(--secondary-font);
}

h2 {
  font-size: 1.2rem;
  font-family: var(--secondary-font);
}

h3 {
  font-size: 1.1rem;
  font-family: var(--secondary-font);
}

/* span {
  font-weight: ;
  text-decoration: none;
  color: var(--span-color);
  font-family: var(--secondary-font);
} */

/* Links and Button Styles */
a {
  color: var(--link-color);
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:hover {
  color: var(--link-hover-color);
  cursor: pointer;
  text-decoration: none;
  animation: 1s shakeFx ease-in-out infinite;
}

/* Header Styles */
header {
  margin: 0 auto;
  margin-top: 1rem;
  animation: 3s fadeInOpacity ease-in-out;
}

#navbarContent {
  position: relative;
}

.navbar {
  padding: 0;
}

div#navbarContent.navbar-collapse.collapse.show,
div#navbarContent.navbar-collapse.collapse {
  text-align: left;
}

.navbar-nav {
  position: absolute;
  right: 0px;
}

ul.navbar-nav {
  font-family: var(--nav-font);
  font-weight: 300;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--span-color);
  font-size: 1.1rem;
}

/* Footer Styles */
footer {
  text-align: center;
  clear: both;
  margin: 0 auto;
  animation: 3s fadeInOpacity linear;
  color: var(--font-color);
}

.heart-icon,
.footer-logo {
  margin: 10px auto;
}

.social-media-icon {
  padding: 20px;
}

.footer-content img.footer-logo {
  width: 90px;
  margin: inherit;
}

.footer-year {
  color: var(--font-color);
  font-size: 0.8rem;
  margin: 0 auto;
  margin-bottom: 5px;
}

/* Homepage Styles */
.profile-portrait {
  float: left;
  width: 210px;
  margin-right: 30px;
  border-radius: 50%;
  border: 5px solid var(--grid-item-background-color);
  animation: 3s fadeInOpacity ease-in-out;
  backface-visibility: hidden;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 200px;
}
.profile h1,
.profile p {
  padding-top: 20px;
  animation: 3s fadeInOpacity ease-in-out;
}

.profile h1 {
  padding-top: 50px;
}

/* About, Work, Contact Styles */
.caseStudyContainer {
  animation: 3s fadeInOpacity ease-in-out;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 5px;
}

div.card-body.caseStudy {
  padding: 10px;
  box-shadow: 5px 10px 18px var(--grid-item-background-color);
  width: 95%;
}

div.card-header.featuredHeader {
  font-weight: 700;
  margin-bottom: 20px;
}

h2.card-title.featuredTitle {
  margin: 10px;
}

p.card-text.featuredText {
  width: 90%;
  margin: 50px auto;
  font-weight: 300;
}

.responsive {
  margin: 10px auto;
  max-width: 100%;
  height: auto;
}

.card-footer a {
  color: var(--span-color);
  font-weight: 300;
}

.card-footer.btn {
  margin-top: 20px;
}

#accordionParent {
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 5px 10px 18px var(--grid-item-background-color);
  animation: 3s fadeInOpacity ease-in-out;
}

.card-body {
  background-color: var(--accordion-color);
  color: var(--primary-color);
  line-height: 2rem;
  padding: 30px;
  margin: 0 auto;
}

.card-body__list {
  list-style: none;
  padding: 0;
}

h2.mb-0 .btn {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 400;
}

h2.mb-0 .btn:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.8s ease-in-out;
}

.resume-link {
  display: block;
  margin: 100px auto;
  animation: 3s fadeInOpacity ease-in-out;
  text-align: center;
}

a.resume-link {
  color: var(--font-color);
  font-weight: 700;
}

.resume-link:hover,
.resume-link:focus {
  animation: shakeFx 1s linear infinite;
  cursor: pointer;
}

.about-header,
.work-header,
.contact-header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
  animation: 3s fadeInOpacity ease-in-out;
}

.work-grid__item h2 {
  margin-bottom: 20px;
  color: var(--work-header-color);
  font-weight: 700;
}

.work-grid__item a {
  font-size: 0.9rem;
  color: var(--projectLink-span-color);
  font-weight: 500;
}

.work-grid__item p {
  font-weight: 300;
}
.work-grid__item a:hover {
  cursor: pointer;
}

@supports (display: grid) {
  .work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    margin: 0 auto;
    margin-bottom: 90px;
    width: 70%;
    animation: 3s fadeInOpacity linear;
  }

  .work-grid__item {
    padding: 30px;
    line-height: 2rem;
    background-color: var(--grid-item-background-color);
    box-shadow: 7px 7px 30px var(--grid-item-background-color);
    width: auto;
    margin: 0;
    color: #fff;
  }
}

.typeform-widget {
  margin: 70px auto;
  animation: 3s fadeInOpacity ease-in-out;
}

/* Animations */

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shakeFx {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Media Queries */

/* Allows the collapsed menu to push the content down*/
@media screen and (max-width: 1024px) {
  .navbar-nav {
    position: relative;
  }
}

@media all and (max-width: 760px) {
  .navbar-toggler {
    border: none;
    font-size: 1rem;
  }

  .profile-portrait {
    float: none;
    margin: 10px auto;
    width: 165px;
  }

  .profile {
    text-align: center;
    width: 100%;
    margin-top: 50px;
    width: 80%;
  }

  .profile h1,
  .profile p {
    padding-top: 10px;
    line-height: 1.7rem;
  }

  #accordionParent {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }

  p.card-text.featuredText {
    width: 100%;
    margin: 50px auto;
    padding: 0 10px;
  }

  .card-body {
    padding: 40px;
  }

  ul.card-body__list {
    padding-left: 5px;
  }

  .resume-link {
    margin: 70px auto;
  }

  .about-header,
  .work-header {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .contact-header {
    margin-bottom: 0;
  }

  .work-grid {
    grid-template-columns: 1fr;
    width: 100%;
    margin-bottom: 90px;
  }

  .work-grid__item {
    width: 100%;
    margin: 0 auto;
  }

  .typeform-widget {
    margin-top: 0;
    margin-bottom: 90px;
    padding: 0;
  }
}

/* 768px - 1024px */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .navbar-nav {
    text-align: right;
  }
  .profile {
    margin: 0 auto;
    margin-top: 150px;
    padding: 10px 50px;
  }

  .profile-portrait {
    margin: 0 auto;
    margin-right: 30px;
    width: 160px;
  }
  .profile h1 {
    padding-top: 30px;
  }

  .profile p {
    padding-top: 10px;
  }

  #accordionParent {
    width: 50%;
    margin: 50px auto;
  }

  .card-body {
    padding: 30px;
    font-size: 0.9rem;
  }

  .work-grid {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 120px;
  }

  .work-grid__item {
    width: 100%;
    padding: 20px;
    font-size: 1rem;
    margin: 0 auto;
  }

  .work-grid__item h2 {
    line-height: 2rem;
    margin-bottom: 30px;
  }
}
